<div class="container my-4">
  <div class="row my-2">
    <div class="col mx-auto">
      <div><p class="text-center">List of recently sold products</p></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Costumer Name</th>
            <th>Costumer city</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i">
            <td>{{ product.id }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.costumerName }}</td>
            <td>{{ product.costumerCity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
