<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#respnav"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="respnav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/charts">Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/soldproducts">Sold Products</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
